{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Form</h2>
  <form id="pain-form" action="{{ url_for('edit_pain_entry', pain_id=pain_id) }}" method="post">

    <p>Change pain id {{ pain_id }}: </p>

    <label for="pain-level">Pain Level:</label>

    <select id="pain-level" name="pain_level">
      {% for i in range(11) %}
        <option value="{{ i }}" {% if default_pain == i %}selected{% endif %}>{{ i }}</option> 
      {% endfor %}
    </select><br>


    
      <label for="date-time">Date and Time:</label>
      <input type="datetime-local" id="date-time" name="date_time" value="{{ default_datetime.strftime('%Y-%m-%dT%H:%M') }}" required><br>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}

